@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* FONTS */
$font-size-paragraph: 16px;
$fontFamily: 'Ubuntu', sans-serif;

/* COLORS */
// Primary
$primaryMarineBlue: hsl(213, 96%, 18%);
$primaryPurplishBlue: hsl(243, 100%, 62%);
$primaryPastelBlue: hsl(228, 100%, 84%);
$primaryLightBlue: hsl(206, 94%, 87%);
$primaryStrawberryRed: hsl(354, 84%, 57%);

//Neutral
$neutralCoolGray: hsl(231, 11%, 63%);
$neutralLightGray: hsl(229, 24%, 87%);
$neutralMagnolia: hsl(217, 100%, 97%);
$neutralAlabaster: hsl(231, 100%, 99%);
$neutralWhite: hsl(0, 0%, 100%);

// LAYOUT
$layoutMobile: 375px;
$layoutDesktop: 1440px;