@import '../../sass/_variable.scss';

.add_ons_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    border: 1px solid $neutralLightGray;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border-radius: 2.5px;
        accent-color: $primaryPurplishBlue;
    }

    // if input is not checked set border color
    input[type="checkbox"]:not(:checked) {
        appearance: none;
        border: 1px solid $neutralLightGray;
    }

    label p:nth-child(1) {
        color: $primaryMarineBlue;
        font-weight: 500;
    }

    label p:nth-child(2) {
        color: $neutralCoolGray;
        font-weight: 400;
        font-size: 14px;
    }


    .price p {
        color: $primaryPurplishBlue;
        font-weight: 400;
        font-size: 0.9em;
    }
}

.add_ons_card:hover {
    border: 1px solid $primaryMarineBlue;
}

.add_ons_card-active {
    border: 1px solid $primaryMarineBlue;
    background-color: $neutralMagnolia;

}