@import '../../sass/_variable.scss';




.summary_container {
    background-color: $neutralMagnolia;
    border-radius: 8px;
    padding: 20px;

    .summary_plan {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: $primaryMarineBlue;
            font-weight: 700;
        }

    }

    .line {
        margin: 2vh 0;
        border: 0.1px solid $neutralLightGray;
    }

    .summary_addons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        p {
            color: $neutralCoolGray;
            font-weight: 400;
        }

        p:nth-child(2) {
            color: $primaryMarineBlue;
            font-weight: 400;
            font-size: 0.9em;
        }
    }
}

.summary_total {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    p:nth-child(1) {
        color: $neutralCoolGray;
    }

    p:nth-child(2) {
        color: $primaryPurplishBlue;
        font-weight: 700;
        font-size: larger;
    }



}