@import '../../sass/_variable.scss';




.summary_container {
    background-color: $neutralMagnolia;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 2em;


    .summary_plan {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: $primaryMarineBlue;
            font-weight: 500;
        }
    }

    .summary_addons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        p {
            color: $neutralCoolGray;
            font-weight: 400;
        }
    }
}

.summary_total {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    p:nth-child(1) {
        color: $neutralCoolGray;
    }

    p:nth-child(2) {
        color: $primaryPurplishBlue;
        font-weight: 700;
        font-size: larger;
    }



}