@import '../../sass/_variable.scss';

.form {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    input {
        font-size: $font-size-paragraph;
        font-weight: 500;
        color: $primaryMarineBlue;
        border: $neutralLightGray 1px solid;
        border-radius: 9px;
        padding: 15px;
        margin: 1vh 0;
        cursor: pointer;
    }

    input:focus {
        outline: none;
        border: $primaryPurplishBlue 1px solid;
        font-size: $font-size-paragraph;
    }

    input::placeholder {
        font-weight: 500;
        color: $neutralCoolGray;
    }
}

label {
    font-size: 14px;
    color: $primaryMarineBlue;
}