@import '../../sass/_variable.scss';

.form {
    display: flex;
    flex-direction: column;

    input {
        font-size: $font-size-paragraph;
        font-weight: 500;
        color: $primaryMarineBlue;
        border: $neutralLightGray 1px solid;
        border-radius: 9px;
        padding: 15px;
        margin: 1vh 0 3vh 0;
        cursor: pointer;
    }

    input:focus {
        outline: none;
        border: $primaryPurplishBlue 1px solid;
        font-size: $font-size-paragraph;

        &:invalid {
            border: $primaryStrawberryRed 1px solid;
        }
    }

    input::placeholder {
        font-weight: 500;
        color: $neutralCoolGray;
    }

    input:focus:invalid+span:nth-of-type(1):before {
        content: 'This field is required';
        color: $primaryStrawberryRed;
        position: absolute;
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0 0 0 10px;
        top: 315px;
        left: 63%;
    }

    input:focus:invalid+span:nth-of-type(2)::before {
        content: 'This field is required';
        color: $primaryStrawberryRed;
        position: absolute;
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0 0 0 10px;
        top: 415px;
        left: 63%;
    }

    input:focus:invalid+span:nth-of-type(3)::before {
        content: 'This field is required';
        color: $primaryStrawberryRed;
        position: absolute;
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0 0 0 10px;
        top: 515px;
        left: 63%;
    }
}

label {
    font-size: 14px;
    color: $primaryMarineBlue;
}